@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap&subset=latin-ext');
@import '../normalize.css';
@import '../../assets/scss/mixins/responsive';
body {
    font-family: 'Lato', sans-serif;
}
.container {
    margin: 20px auto;
    @include desktop(){
        width: 1000px;
    }
    @include tablet(){
        width: 800px;
    }
    @include mobile(){
        width: 100%;
        margin: 0;
    }
}
