@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap&subset=latin-ext');
@import '../normalize.css';

body {
    font-family: 'Lato', sans-serif;
}
.container {
    width: 800px;
    margin: 20px auto;
}
